<!DOCTYPE html>
<html lang="en">
<head>
  <title>MMA Betting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>

  .page-header {
    background-color: FireBrick;
    border-width: 0;
    color:white;

  }
  h3 {
    color:white;
  }

  .row {
    background-color: grey;
    height:700px;
  }
  body {
    background-color: FireBrick;
  }
  </style>

</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MMA BETS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="text-center page-header">
  <h1>MMA BETS</h1>
  <p>Test out your MMA betting strategy!</p>
</div>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <h3>You're a loser</h3>
    </div>
    <div class="col-sm-8 text-center" style="background-color:black; height:700px;">
     
    </div>
    <div class="col-sm-2">
      <h3>You Suck</h3>
    </div>
  </div>
</div>
</body>
</html>
