{% extends "index.html" %} {% block page_content %}


<div class="container">

  <ul id="dropdown2" class="dropdown-content">

    {% for event in other_events %}
    <li><a href="/placebets/{{loop.index}}">{{event}}</a></li>
    {% endfor %}

  </ul>
  <a class="btn dropdown-button red darken-4" data-activates="dropdown2">More Events<i class="material-icons right">arrow_drop_down</i></a>


  <div class="center-align black-text">
      <h3 class="flow-text"><b>{{event_name}}</b></h3>
      <h3 class="flow-text"><b>{{date}}</b></h3>
  </div>

{% for fight in fights %}
<!-- Fight Card -->
  {% if fight.result == 0 %}
  <div class="card grey lighten-2 z-depth-2">

    <div class="container">
      <div class="card-content black-text">

        <div class="row center-align">
          <div class="col s5 z-depth-2" id="fighter_{{fight.id}}_1">
            <p class="flow-text" onclick="choose({{fight.id}}, 1);">
              <b>{{fight.fighterA}}<br /></b>
                {% if fight.oddA > 0 %}
                  +{{fight.oddA}}
                {% else %}
                  {{fight.oddA}}
                {% endif %}
            </p>
          </div>

          <div class="col 2">
            <p class="flow-text"><b>vs.</b></p>
          </div>

          <div class="col s5 z-depth-2" id="fighter_{{fight.id}}_2">
            <p class="flow-text" onclick="choose({{fight.id}}, 2);">
              <b>{{fight.fighterB}}<br /></b>
                {% if fight.oddB > 0 %}
                  +{{fight.oddB}}
                {% else %}
                  {{fight.oddB}}
                {% endif %}
            </p>
          </div>
        </div>

      </div>
      <div class="card-action">

        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">attach_money</i>
            <!-- set min and max to user's account balance -->
            <input id="betAmount{{fight.id}}" type="number" autocomplete="off">
            <label for="betAmount{{fight.id}}">Bet Amount</label>
          </div>
          <div class="col s6 right-align">
            <a id="button{{fight.id}}" class="btn-floating btn-large waves-effect waves-light red">
              <i class="material-icons" onclick="submitBet({{fight.id}}, {
                fighterA: '{{fight.fighterA}}',
                oddA: '{{fight.oddA}}',
                fighterB: '{{fight.fighterB}}',
                oddB: '{{fight.oddB}}'});">send</i>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div><br><br>
<!-- END OF FIGHT CARD -->
{% endif %}
{% endfor %}

<!-- NOT LOGGED IN Modal Structure -->
<div id="modal_login" class="modal">
  <div class="modal-content center-align">
    <h4>Login to place a bet</h4>
  </div>
  <div class="modal-footer">
    <a href="/login" class="modal-action modal-close waves-effect waves-green btn-flat">OKAY</a>
  </div>
</div>

<!-- INSUFFICIENT FUNDS Modal Structure -->
<div id="modal_funds" class="modal">
  <div class="modal-content center-align">
    <h4>Insufficient Funds</h4>
    <p class="flow-text">
      Current balance: <b id="balance">0</b>
    </p>
  </div>
  <div class="modal-footer">
    <span class="modal-action modal-close waves-effect waves-green btn-flat">OKAY</span>
  </div>
</div>

<!-- INVALID BET AMOUNT Modal Structure -->
<div id="modal_bet" class="modal">
  <div class="modal-content center-align">
    <h4>Invalid Bet Amount</h4>
  </div>
  <div class="modal-footer">
    <span class="modal-action modal-close waves-effect waves-green btn-flat">OKAY</span>
  </div>
</div>


</div>

<script>

  // choose fighter highlight
  function choose(fightID, fighter) {
    let otherFighter;
    if(fighter === 1) {
      otherFighter = $("#fighter_"+ fightID + "_2")
    } else {
      otherFighter = $("#fighter_"+ fightID + "_1")
    }
    const chosenFighter = $("#fighter_"+ fightID + "_" + fighter);

    chosenFighter.addClass('red');
    otherFighter.removeClass('red');
  }

  // submit bet to database
  // - this function works but needs some love
  function submitBet(fightID, fightObj) {
    let betAmount = parseInt($("#betAmount" + fightID).val());

    // IF betAmount is NaN RETURN
    if(isNaN(betAmount)) {
      $("#modal_bet").modal('open');
      $("#betAmount" + fightID).val(''); // clear bet amount
      return;
    }

    // determine chosen fighter
    let chosenFighter = $("#fighter_"+ fightID + "_1");
    let chosenFighterNum = 1;
    if(!chosenFighter.hasClass('red')) {
      chosenFighter = $("#fighter_"+ fightID + "_2");
      chosenFighterNum = 2;
      if(!chosenFighter.hasClass('red')) {
        alert("Please Select a Fighter!");
        return;
      }
    }

    // determine chosen fighter name
    let chosenFighterName = chosenFighterNum == 1 ? fightObj['fighterA'] :
                                                    fightObj['fighterB'];

    let chosenOdd = chosenFighterNum == 1 ? fightObj['oddA'] : fightObj['oddB']

    // create json obj to post to server
    let fight = {
      fighter: chosenFighterName,
      betAmount: betAmount,
      odd: chosenOdd
    };

    console.log(fight)

    $.post('/createBet/' + fightID,
          fight,
          function(data) {
            console.log(data);

            if(data['status'] == 'bad' ) {
              // not logged in
              if(data['error'] == 'login') {
                $('#modal_login').modal('open');
              }
              // insufficient funds
              else {
                $('#balance').text('$' + data['balance']);
                $('#betAmount' + fightID).val(''); // clear bet input
                $('#modal_funds').modal('open');
              }
            }
            // Success
            else {
              changeButton(fightID);
            }
          })

  }

  function changeButton(fightID) {
    let button = $("#button" + fightID);

    button.removeClass('red');
    button.addClass('disabled'); // disable button

    // change button icon
    let icon = button.children();
    icon.addClass('green')
    icon.text('check');
  }

  // modal stuff
  $(document).ready(function() {
    // initialize modal
    $('.modal').modal();
  })

</script>

<style>

  /* get rid of digit scroller for number input */
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /*********************************************/

</style>

{% endblock %}
