{% extends "index.html" %} {% block page_content %}

<div class="container center-align">

  <h1>{{user_name}}</h1>
  <h3>Account Balance: <b>${{'%.2f' % account_balance}}</b></h3>


  <h5 class="left-align flow-text">PENDING BETS ({{pending_length}})</h5>
  {% if pending_length > 0 %}
  <div class="grey lighten-2 black-text z-depth-4">
    <table class="responsive-table bordered">
      <thead class="black-text">
        <th>Fight Date</th>
        <th>Fight</th>
        <th>Fighter</th>
        <th>Odd</th>
        <th>Bet Amount</th>
      </thead>
      <tbody>
        {% for bet, fight in pending_bets %}

          <tr>
            <td>{{fight.date}}</td>
            <td>{{fight}}</td>
            <td>{{bet.fighter}}</td>
            {% if bet.odd > 0 %}
              <td>+{{bet.odd}}</td>
            {% else %}
              <td>{{bet.odd}}</td>
            {% endif %}
            <td>$ {{bet.amount}}</td>
          </tr>

        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

  <br><br>

  <h5 class="left-align flow-text">COMPLETED BETS ({{completed_length}})</h5>
  {% if completed_length > 0 %}
  <div class="grey lighten-2 black-text z-depth-4">
    <table class="responsive-table bordered">
      <thead class="black-text">
        <th>Fight Date</th>
        <th>Fight</th>
        <th>Fighter</th>
        <th>Odd</th>
        <th>Bet Amount</th>
        <th>Payout</th>
      </thead>
      <tbody>
        {% for bet, fight, payout in completed_bets %}

          <tr>
            <td>{{fight.date}}</td>
            <td>{{fight}}</td>
            <td>{{bet.fighter}}</td>

            {% if bet.odd > 0 %}
              <td>+{{bet.odd}}</td>
            {% else %}
              <td>{{bet.odd}}</td>
            {% endif %}

            <td>${{bet.amount}}</td>

            {% if payout == 0 %}
            <td><b>NONE</b></td>
            {% else %}
            <td><b>${{'%.2f' % payout}}</b></td>
            {% endif %}
          </tr>

        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

<div style="height:100px;"></div>

</div>

{% endblock %}
