{% extends "index.html" %} {% block page_content %}

<div class="container center-align">


  <div class="z-depth-4 grey lighten-2 row" id="registerCard">
    <div class='row'>
      <div class='col s12'>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s12'>
        <input class='validate' type='email' name='email' id='email' />
        <label for='email'>Enter your email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="username" class="validate" name="username" />
        <label for="username">Enter your username</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s12'>
        <input class='validate' type='password' name='password' id='password' />
        <label for='password'>Enter your password</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s12'>
        <input class='validate' type='password' name="password-confirm" id='password-confirm' />
        <label for='password-confirm'>Password Confirmation</label>
      </div>
    </div>


    <br />
    <center>
      <div class='row center-align' id="buttonDiv">
        <button type="submit" class='col s12 btn btn-large waves-effect red darken-2 black-text' onclick="submitForm()">
            Register</button>
      </div>
    </center>
  </div>
</div>

<script>
  function submitForm() {
    const emailInput = $('#email').val();
    const usernameInput = $('#username').val();
    const passwordInput = $('#password').val()
    const passwordConfirm = $('#password-confirm').val()

    if(passwordInput != passwordConfirm) {
      $('#password').val('');
      $('#password-confirm').val('');
      alert("Passwords do not match");
    } else {
      $.post('/registerUser',
              {
                email: emailInput,
                username: usernameInput,
                password: passwordInput
              },
              function(data) {
                console.log(data);

                if(data['status'] === 'ok') {
                  window.location.replace('/');
                } else {

                  if(data['error'] === 'empty_form') {
                    $('#registerCard').append('<h5 class="error_message">Form cannot be empty!</h5>');
                  } else {
                    if(data['email'] === 'True') {
                      $('#registerCard').append('<h5 class="error_message">Email already in use!</h5>');
                    }
                    if(data['illegal_email'] === 'True') {
                      $('#registerCard').append('<h5 class="error_message">Invalid Email!</h5>');
                    }
                  }
                }
              });
    }
  }

</script>

<style>
  #registerCard {
    /*display: inline-block;*/
    padding: 32px 80px 20px 80px;
    border: 1px solid #EEE;
  }

  .error_message {
    padding-top: 20px;
    color: red;
    font: bold;
  }
</style>

{% endblock %}
