{% extends "index.html" %}

{% block addStyle %}

<style>

  #loginForm {
    color: white;
    font-size:16pt;
    padding-top:50px;
  }

  #empty_form {
    color: firebrick;
    font-size:16pt;
    text-align: center;
  }

</style>

{% endblock %}

{% block homeActive %}{% endblock %}
{% block signUpActive %}class="active"{% endblock %}

{% block page_content %}

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3">
      </div>

    <div class="col-sm-6" id="loginForm">

        <form action="/registerUser" method="POST">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password">
          </div>

          <button type="submit" class="btn btn-lg btn-danger btn-block">Sign Up</button>
        </form>
        <br>

        {% if empty_form %}
          <div id="empty_form">Incomplete Form!</div>
        {% endif %}

        {% if emailError %}
          <div id="empty_form">Email already used</div>
        {% endif %}

    </div>

      <div class="col-sm-3">
      </div>
    </div>
  </div>


{% endblock %}
